.sv_qstn .sv-q-col-3, .sv-question .sv-q-col-3 {
    width: 12.5% !important;
}

span.sv_q_rating_item_text {
    padding-left: 0.8em!important;
    padding-right: 0.8em!important;
}

.sv_q_rating {
    text-align-last: center;
}

.sv_q_imgsel {
    text-align-last: center;
}

.sv_q_imgsel img {
    margin: auto;
}
