.sv_qstn .sv-q-col-3, .sv-question .sv-q-col-3 {
    width: 12.5% !important;
}

span.sv_q_rating_item_text {
    padding-left: 0.8em!important;
    padding-right: 0.8em!important;
    min-width: 6%!important;
}

div[name="meguca_type"] .sv_q_rating {
    text-align-last: center;
}

.sv_q_imgsel {
    text-align-last: center;
}

.sv_q_imgsel img {
    margin: auto;
}

.sv_q_description span {
    font-size: smaller;
    color: gray;
    font-style: italic;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    display: block;
}

.sv_qstn[name="username_reddit"] div:not(h4):not(:first-child),
.sv_qstn[name="username_discord"] div:not(h4):not(:first-child) {
    padding-left: 2em;
}
